@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  /* background-image: "Yellow And Black Rosa Maria Banner YouTube Channel Art.png"; */
  background: linear-gradient(90deg, #b5eec2, #3ddf84);
}

.back {
  width: 100%;
  height: 100%;
  background: url(https://hasindusithmin.github.io/certificates/Yellow%20And%20Black%20Rosa%20Maria%20Banner%20YouTube%20Channel%20Art.png);
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 150;
}

.container {
  background-image: "Yellow And Black Rosa Maria Banner YouTube Channel Art.png";
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 78vh;
}

/* .screen {
  background: linear-gradient(90deg, #635ba3, #7c78b8);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #5c5696;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6c63ac;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #5d54a4, #6a679e);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #7e7bb9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__field {
  padding: 20px 0px;
  position: center;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #7875b5;
}

.login__input {
  border: none;
  color: #000000;
  border-bottom: 2px solid #fbfbfb;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  font-size: x-large;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875b5;
}

.social-login__icon:hover {
  transform: scale(1.5);
} */

.screen__content{
  display: flex;
  box-sizing: border-box;
  border: 3px solid rgb(54, 116, 87);
  border-radius: 10px;
  padding-right: 1rem;
  background-color: #09af51;
  
  
}

.content_2{
  margin-left: 2rem;
  margin-top: 5px;
  font-weight: 800;
  font-size: 20px;
}

.content_2 > input{
  width: 18rem;
  height: 30px;
  
}

.content_2 > button{
  display: grid;
  justify-content: center;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  font-weight: 550;
}

.content_2 > h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 3rem;
  margin-bottom: 10px;
  color: antiquewhite;
}
.patientsreg{
  padding-left: 10rem;
  color: rgb(55, 6, 233);
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

