*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;

}

.nav{
    background-color: rgb(5, 103, 23);
    height: 60px;
    width: 100%;
}

.logo{
    color: aliceblue;
    font-size: 35px;
    line-height: 60px;
    padding: 0 100px;
    font-weight: bold;

}

.nav > ul{
    float: right;
    margin-right: 20px;
    
}

.nav > ul > li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    
}

.nav > ul > li > a{
    color: aliceblue;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

.nav > ul > li > a.active,a:hover{
    background-color: rgb(2, 65, 20);
    transition: 5s;
}

.navf{
    background-color: rgb(5, 103, 23);
    height: 100px;
    width: 100%;
     position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

.f01{
    display: flex;
   
}

.f02{
    color: aliceblue;
    margin: 10px;
    padding-left: 10rem;
}

/* home page */

.HContent_1 > img{
    
    justify-content: right;
    
}

.HMain{
    display: flex;
    /* border: 1px solid chocolate; */
    width: 100%;
    height: auto;
}

.heading{
    padding: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(123, 32, 32)

    
}


