/* *{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .main{
    font-size: 22px;
    margin: 0px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 3px solid chartreuse;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  
  .fields{

    justify-content: center;

  }
  
  .fields > input{
    font-size: 20px;
    width: 20rem;
    height: 30px;
    border-radius: 5px;
    box-shadow: inset;
  }
  
  .fields > button{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: inset;
    padding-left: 2rem;
    padding-right: 2rem;
    color: rgb(255, 255, 255);
    background-color: burlywood;
    
    margin: 0px 20px 20px 0px;
  }
  .img{
    width: 10px;
    justify-content: center;
    padding-left: 100px;
    
    
  }
 */

 #main{
  text-align: center;
  width: 30rem;
  height: auto;
  margin: 5rem 30rem 5rem 30rem;
  justify-content: center;
  display: flex;
  /* padding: 90px 0px 90px 0px; */
  /* background-color:rgba(148, 214, 171, 0.612); */
 }

 #sub-main{
  border: 3px solid chocolate;
  border-radius: 25px;
  background-color: rgb(67, 179, 95);
  
  
 }



#imag{
  padding-top: 5px;
  justify-content: center;
  display: grid;
}

/* #sub-imag{
  background-color: rgb(63, 69, 66);
  border-radius: 120px;
  align-items: center;
  display: grid;
  height: 115px;
  width: 115px;


} */

.profile{
  height: 100px;
  width: 100px;
  border-radius: 130px;
}

#fields{
  margin: 40px 0px;
  /* display: grid; */
  /* align-items:left; */
}

#lble{
  font-size: 20px;

}

#fields > input{
  width: 17rem;
  border-radius: 25px;
}

button{
  padding: 8px;
}
