#main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0px 90px 0px;
  background-color:rgba(38, 210, 99, 0.612);
}

#sub-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 730px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(1, 63, 19);
  padding-top: 30px;
  border-radius: 60px;
  /* background-color: rgb(53, 224, 78); */
  
}

#imag{
  padding-top: 5px;
  justify-content: center;
  display: grid;
}

/* #sub-imag{
  background-color: rgb(63, 69, 66);
  border-radius: 120px;
  align-items: center;
  display: grid;
  height: 115px;
  width: 115px;


} */

.profile{
  height: 100px;
  width: 100px;
  border-radius: 130px;
}

#fields{
  margin: 50px 0px;
}

#lble{
  font-size: 25px;

}

input{
  font-size: 35px;
  border-radius: 60px;
}

button{
  font-size: 35px;
  /* align-items: center; */
  justify-content: center;
  /* margin: 0px 100px 13px 30px; */
  border-radius: 60px;
}