/* .demo{
    justify-content: center;
    padding-left: 5rem;
    padding-top: 10rem;
}

   
.demo2_1{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;

  width:350px;
  padding:20px;
  background:#fff;
  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377);

              display:block;
              width:45%;
              height:45px;
              margin-left: 25%;
              line-height:50px;
              text-align:center;
              background:#1172c2;
              color:#fff;
              font-size:15px;
              font-family:"Open Sans",sans-serif;
              text-transform:Uppercase;
              font-weight:600;
              border-radius:5px;
              cursor:pointer;
} */

 .demo{
    display: grid;
    align-items: center; 
    justify-content: center
    
}

.demo2{
    /* position: absolute; */
    
    margin-top: 25px;
    border: 1px solid red;
    background-color: rgb(75, 185, 174);
    width: 35rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 10px;
}

.demo2_1{
    /* width: 250px;
    height: 50px;
    border: 3px solid rgb(21, 153, 21); */
}

.demo2_2{
    padding-left: 20px;
    /* width: 50px;
    height: 30px;
    border: 3px solid red; */
}

.demo2_2 > button{
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(69, 70, 69);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.demo2 > input{
    width: 330px;
    height: 80px;
    background-color:rgb(162, 162, 241);
    padding-left: 2rem;
    padding-top: 1.8rem;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
    border: 1px solid rgb(5, 206, 49);
    border-radius: 10px;
    
}

.demo3{
    margin-top: 25px;
    margin-left: 5rem;
    background-color: rgb(172, 228, 201);
    width: 26rem;
    height: 10rem;
    box-sizing: border-box;
    border: 8px solid rgb(212, 6, 6);
    border-radius: 10px;
    padding-left: 5rem;
    padding-top: 2rem;
    font-size: 25px;
    font-weight: 800;
    color: crimson;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.text{
    display: flex;
}

.w3-panel1{
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: rgb(100, 173, 129);
    display: inline-block;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid rgb(5, 206, 49);
    border-radius: 10px;
}

.w3-panel1 .demo1{
    margin: 3rem 3rem 3rem 3rem ;
    width: 50rem;
    display: inline-block;
    
}

.btn{
    display: flex;
    justify-content: right;
    padding-right: 15rem;
    margin-top: 25px;
    margin-bottom: 25px;
    /* padding-left: 35rem;
    margin-top: 10px; */
}

.btn-signout{
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

